langchain
langchain-openai
langchain-community
tiktoken
docarray
openai
pydantic
chromadb
gptcache
jq
json
pandas
tabulate
bs4
langchain_experimental
faiss-cpu
opencv-python
flask
unstructured
ultralytics
unstructured[docx]

